<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUrl</key>
	<string>http://www.filmstarr.co.uk</string>
	<key>BaseUrlShort</key>
	<string>www.filmstarr.co.uk</string>
	<key>ApplicationKey</key>
	<string>QZtNrXETRS6yWsX7SHI_9Q</string>
	<key>ApplicationSecret</key>
	<string>sPuFRadiRfqpAeJmYUiRlg</string>
</dict>
</plist>
